%h3 inline gallery as cell

%p= _.widget('imgur', 'J44eo', 100)
%p= _.widget('imgur', 'W0zS9', 100)
%p= _.widget('imgur', 'mn07o', 100)
%p= _.widget('imgur', 'gooGT', 100)

%h4 Bad widget name example
%p= _.widget('ximgur', 'J44eo', 100)



