%h3 Inline gallery as cell

%p Inserts promises insted of html, resolves all in page reder end. 
%p Realtime data from imgur

%hr

= $widget('imgur', 'J44eo', 100)
= $widget('imgur', 'W0zS9', 100)
= $widget('imgur', 'mn07o', 100)
= $widget('imgur', 'gooGT', 100)

%h4 Bad widget name example
%p= $widget('ximgur', 'J44eo', 100)



